@model IEnumerable<RegistroChamado.Models.ChamadoModel>

@{
    ViewData["Title"] = "Registro de Chamados";
}

<h3>@ViewData["Title"]</h3>

<hr/>
<div class="row gap-4">
    <a asp-action="Create" class="btn btn-success btn-block">Registrar Chamado</a>
</div>
<hr/>
<table class="table table-bordered gap-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Solucao" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Solução</a>
            </td>
        </tr>
}
    </tbody>
</table>
